---
http_interactions:
- request:
    method: get
    uri: https://freecurrencyapi.net/api/v2/latest?apikey=<FREECURRENCY_API_KEY>&base_currency=TWD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Charset:
      - utf-8
      X-Ratelimit-Remaining:
      - '4488'
      X-Ratelimit-Limit:
      - '4500'
    body:
      encoding: UTF-8
      string: '{"query":{"apikey":"<FREECURRENCY_API_KEY>","base_currency":"TWD","timestamp":1638088868},"data":{"USD":0.035902,"JPY":4.064489,"CNY":0.229631,"CHF":0.03311,"CAD":0.045913,"MXN":0.785614,"INR":2.694108,"BRL":0.201291,"RUB":2.702536,"KRW":42.730784,"IDR":513.407503,"TRY":0.429201,"SAR":0.134676,"SEK":0.328273,"NGN":14.706963,"PLN":0.14882,"ARS":3.617163,"NOK":0.324786,"TWD":1,"IRR":1507.900487,"AED":0.131859,"COP":143.652012,"THB":1.212056,"ZAR":0.583373,"DKK":0.235761,"MYR":0.15212,"SGD":0.049187,"ILS":0.114309,"HKD":0.280005,"EGP":0.562952,"PHP":1.81201,"CLP":29.84838,"PKR":6.293732,"IQD":52.345914,"DZD":4.968903,"KZT":15.649175,"QAR":0.131332,"CZK":0.813701,"PEN":0.14497,"RON":0.156888,"VND":814.193344,"BDT":3.074693,"HUF":11.675469,"UAH":0.973675,"AOA":21.038883,"MAD":0.331667,"OMR":0.013819,"CUC":0.86166,"BYR":0.107706,"AZN":0.060783,"LKR":7.252254,"SDG":15.666207,"SYP":90.150832,"MMK":63.978651,"DOP":2.028473,"UZS":385.952522,"KES":4.037256,"GTQ":0.27731,"URY":1.58618,"HRV":0.238758,"MOP":0.288402,"ETB":1.716691,"CRC":22.474996,"TZS":82.503566,"TMT":0.1253,"TND":0.103409,"PAB":0.035902,"LBP":53.997328,"RSD":3.725614,"LYD":0.165288,"GHS":0.214695,"YER":8.965935,"BOB":0.244857,"BHD":0.013535,"CDF":71.251291,"PYG":244.784598,"UGX":127.847495,"SVC":0.313819,"TTD":0.241798,"AFN":3.447018,"NPR":4.300714,"HNL":0.864169,"BIH":0.062011,"BND":0.049215,"ISK":4.656921,"KHR":145.763138,"GEL":0.110288,"MZN":2.269025,"BWP":0.42439,"PGK":0.125946,"JMD":5.543313,"XAF":20.812196,"NAD":0.58173,"ALL":3.830817,"SSP":14.289115,"MUR":1.537353,"MNT":101.962711,"NIO":1.264123,"LAK":388.42577,"MKD":1.953816,"AMD":17.287104,"MGA":142.589403,"XPF":3.774412,"TJS":0.404623,"HTG":3.518432,"BSD":0.035902,"MDL":0.634915,"RWF":36.660049,"KGS":3.033727,"GNF":335.290282,"SRD":0.769389,"SLL":394.746242,"XOF":20.859193,"MWK":28.991472,"FJD":0.076246,"ERN":0.538536,"SZL":0.58505,"GYD":7.470926,"BIF":71.219628,"KYD":0.029619,"MVR":0.553618,"LSL":0.585047,"LRD":5.069462,"CVE":3.496864,"DJF":6.372719,"SCR":0.518795,"SOS":20.643815,"GMD":1.879491,"KMF":15.614079,"STD":0.776933,"XRP":0.037697,"AUD":0.050453,"BGN":0.062025,"BTC":0.000664,"JOD":0.025419,"GBP":0.026898,"ETH":9.0e-6,"EUR":0.031752,"LTC":0.000359,"NZD":0.05268}}'
  recorded_at: Sun, 28 Nov 2021 08:41:08 GMT
- request:
    method: get
    uri: https://freecurrencyapi.net/api/v2/latest?apikey=<FREECURRENCY_API_KEY>&base_currency=USD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Charset:
      - utf-8
      X-Ratelimit-Remaining:
      - '4487'
      X-Ratelimit-Limit:
      - '4500'
    body:
      encoding: UTF-8
      string: '{"query":{"apikey":"<[...]
- request:
    method: get
    uri: https://freecurrencyapi.net/api/v2/latest?apikey=INVALID%20API%20KEY&base_currency=TWD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Charset:
      - utf-8
      X-Ratelimit-Remaining:
      - "-1"
    body:
      encoding: UTF-8
      string: '{"query":{"apikey":"INVALID API KEY","base_currency":"TWD","timest[...]
- request:
    method: get
    uri: https://freecurrencyapi.net/api/v2/latest?apikey=<FREECURRENCY_API_KEY>&base_currency=INVALID%20CURRENCY
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - https://freecurrencyapi.net
      X-Ratelimit-Limit:
      - '4500'
      X-Ratelimit-Remaining:
      - '4485'
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html>
            <head>
                <meta charset="UTF-8" />
                <meta http-equiv="refresh" content="0;url='https://freecurrencyapi.net'" />

                <title>Redirecting to https://freecurrencyapi.net</title>
            </head>
            <body>
                Redirecting to <a href="https://freecurrencyapi.net">https://freecurrencyapi.net</a>.
            </body>
        </html>
  recorded_at: Sun, 28 Nov 2021 08:41:12 GMT
recorded_with: VCR 6.0.0
