---
http_interactions:
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/search?keywords=backend
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":[{"jobId":44792847,"employerId":300264,"employerName":"Client
        Server Ltd.","employerProfileId":null,"employerProfileName":null,"jobTitle":"Backend
        Web Developer JavaScript Node.js API","locationName":"Camden","minimumSalary":65000.00,"maximumSalary":75000.00,"currency":"GBP","expirationDate":"22/12/2021","date":"24/11/2021","jobDescription":"Backend
        Web Developer (JavaScript Node.js API) *Hybrid WfH*. Would you like to progress
        your career working on a range of interesting projects? You could be joining
        a UK Not-for-Profit technology company that acts as an innovation catalyst,
        helping businesses  across a broad range of industries to improve their technology
        capabilities with AI and IoT in a responsible manner.As a Backend Web Developer
        you''ll work on a range of project... ","applications":3,"jobUrl":"https://www.reed.co.uk/jobs/backend-web-developer-javascript-nodejs-api/44792847"},{"jobId":44708450,"employerId":247035,"employerName":"CORECRUITMENT","employerProfileId":null,"employerProfileName":null,"jobTitle":"Backend
        Magento Developer","locationName":"Dubai","minimumSalary":68400.00,"maximumSalary":80400.00,"currency":"GBP","expirationDate":"13/12/2021","date":"15/11/2021","jobDescription":"
        Job Title: Backend Magento Developer Salary: AED 35,000 per month Location:
     [...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/44792847
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":300264,"employerName":"Client Server Ltd.","jobId":44792847,"jobTitle":"Backend
        Web Developer JavaScript Node.js API","locationName":"Camden","minimumSalary":65000.0000,"maximumSalary":75000.0000,"yearlyMinimumSalary":65000.0000,"yearlyMaximumSalary":75000.0000,"currency":"GBP","salaryType":"per
        annum","salary":"£65,000 - £75,000 per annum","datePosted":"24/11/2021","expirationDate":"22/12/2021","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/backend-web-developer-javascript-nodejs-api/44792847","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"Backend
        Web Developer (JavaScript Node.js API) *Hybrid WfH*. Would you like to progress
        your career working on a range of interesting projects? You could be joining
        a UK Not-for-Profit technology company that acts as an innovation catalyst,
        helping businesses  across a broad range of industries to improve their technology
        capabilities with AI and IoT in a responsible manner.<br /><br />As a Backend
        Web Developer you''ll work on a range of projects with a focus on Greenfield
        innovation projects; you''ll be producing proof-of-concepts, architecting
        and building solutions to help client companies enhance their business'',
        introducing AI to solve  real-world business problems. You will be collaborating
        with an Agile software engineering team including DevOps Engineers in a technology
        driven environment where continually learning, experimentation and innovation
        are key.<br /><br />There''s a remote interview and onboarding process, following
        that you''ll join colleagues in the London office 2-3 days a week with flexibility
        to work from home part of the week.<br /><br />Requirements:<br />*You have
        strong Vanilla JavaScript skills combined with a good knowledge of Node.js
        for backend development<br />*You have experience of building REST APIs<br
        />*You have a good appreciation of DevOps environments encompassing Docker
        and Kubernetes<br />*You''re collaborative, enjoy problem and trying new things<br
        /><br />As a Backend Web Developer you will earn a competitive salary (to
        &#163;75k) plus benefits.<br /><br />Apply now or call to find out more about
        this Backend Web Developer (JavaScript Node.js API) opportunity.","applicationCount":3}'
  recorded_at: Sun, 28 Nov 2021 08:40:33 GMT
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/44708450
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":247035,"employerName":"CORECRUITMENT","jobId":44708450,"jobTitle":"Backend
        Magento Developer","locationName":"Dubai","minimumSalary":68400.0000,"maximumSalary":80400.0000,"yearlyMinimumSalary":68400.0000,"yearlyMaximumSalary":80400.0000,"currency":"GBP","salaryType":"per
        annum","salary":"£68,400 - £80,400 per annum","datePosted":"15/11/2021","expirationDate":"13/12/2021","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/backend-magento-developer/44708450","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"
        <p><strong>Job Title: Backend Magento Developer</strong></p> <p><strong>Salary:</strong>
        AED 35,000 per month</p> <p><strong>Location: </strong>Dubai</p> <p><em>We
        are working with a growing ecommerce platform based in Dubai. This position
        could be remote in the Dubai &nbsp;or Europe. You will be using your Magneto
        2 developer skills to work on e-commerce projects on the back end and will
        be developing features that  are exposed over APIs to be utilized by a headless
        frontend.</em></p> <p><strong>About the position</strong></p> <ul> <li>Develop
        backend features exposed over GraphQL APIs</li><li>Develop system integrations
        between Magento and other systems</li><li>Writing reusable, testable, and
        efficient code with acceptable unit testing coverage</li><li>Collaborate with
        frontend developers during the application development cycle &nbsp;</li><li>Recommending
        and implementing improvements to processes and technologies</li></ul> <p>.</p>
        <p><strong>The successful candidate</strong></p> <ul> <li>Strong skills with
        Magneto 2 and PHP</li><li>Experience developing Magneto 2 modules and features</li><li>Experience
        developing GraphQL</li><li>Experience with Headless front ends for Magneto</li><li>Experience
        with other languages such as javascipt or typescript</li><li>Experience with
        distributed (service) architectures and event driven systems, and fundamental
        design principles behind a scalable application</li><li>Exceptional analytical
        and problem-solving aptitude</li></ul> <p><em>If you are keen to discuss the
        details further, please apply today or send your cv to </em></p> <p>Get social…….</p>
        <p>http://</p> <p>https://COREcruitmentDOTcom/</p> <p>Tweet us @COREcruitment&nbsp;</p>
        ","applicationCount":6}'
  recorded_at: Sun, 28 Nov 2021 08:40:35 GMT
[...]
