---
http_interactions:
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/search?keywords=backend
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":[{"jobId":44604923,"employerId":415711,"employerName":"Explore
        Group","employerProfileId":null,"employerProfileName":null,"jobTitle":"Backend
        engineer, back end developer, Golang Developer","locationName":"London","minimumSalary":70000.00,"maximumSalary":90000.00,"currency":"GBP","expirationDate":"16/12/2021","date":"04/11/2021","jobDescription":"
        Backend engineer, software engineer Golang developer, The Job You will be
        responsible for the continued development of our back-end platform. We are
        looking for someone who is passionate and creative, who will be able to drive
        innovation and ensure we have the best solution possible. Our challenges include:  Developing
        the best platforms we can, using the latest technologies,... ","applications":0,"jobUrl":"https://www.reed.co.uk/jobs/backend-engineer-back-end-developer-golang-developer/44604923"},{"jobId":44638088,"employerId":617997,"employerName":"In
        Technology Group Limited","employerProfileId":null,"employerProfileName":null,"jobTitle":"Backend
        Developer - £35,000 - £45,000 DOE - Remote","locationName":"London","minimumSalary":35000.00,"maximumSalary":45000.00,"currency":"GBP","expirationDate":"15/11/2021","date":"08/11/2021","jobDescription":"
        Skills:  WordPressMagentoPHPCodeIgniter/ Laravel/ SymfonyApache, Ubuntu, SSLsSOAP/
        REST/ APISQL/ MySQL If you have strong Development experience and have strong
        experience with the skill set above, and the role looks like a great fit,
        then please send your updated CV to and give me a call on to discuss your
        application in further ... ","applications":4,"jobUrl":"https://www.reed.co.uk/jobs/backend-developer-35000-45000-doe-remote/44638088"},{"jobId":44635582,"employerId"[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/44604923
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":415711,"employerName":"Explore Group","jobId":44604923,"jobTitle":"Backend
        engineer, back end developer, Golang Developer","locationName":"London","minimumSalary":70000.0000,"maximumSalary":90000.0000,"yearlyMinimumSalary":70000.0000,"yearlyMaximumSalary":90000.0000,"currency":"GBP","salaryType":"per
        annum","salary":"£70,000 - £90,000 per annum","datePosted":"04/11/2021","expirationDate":"16/12/2021","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/backend-engineer-back-end-developer-golang-developer/44604923","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"
        <p><strong>Backend engineer, software engineer Golang developer,</strong></p>
        <p><strong>The Job</strong></p> <p>You will be responsible for the continued
        development of our back-end platform. We are looking for someone who is passionate
        and creative, who will be able to drive innovation and ensure we have the
        best solution possible.</p> <p>Our challenges include:</p> <ul> <li>Developing
        the best platforms we can, using the latest technologies, providing the best
        experience and reaching as many of our customers as possible.</li><li>We''re
        looking for someone that knows what a well designed API looks like, and can
        help to shape this by working closely with our android and back-end teams.</li><li>Working
        with legacy code and improving it, whilst making the architecture more scalable.</li><li>Interacting
        with non-technical [...]
[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/44635582
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":149525,"employerName":"Certus Recruitment Group","jobId":44635582,"jobTitle":"Junior
        Backend Developer","locationName":"London","minimumSalary":35000.0000,"maximumSalary":45000.0000,"yearlyMinimumSalary":35000.0000,"yearlyMaximumSalary":45000.0000,"currency":"GBP","salaryType":"per
        annum","salary":"£35,000 - £45,000 per annum, negotiable","datePosted":"08/11/2021","expirationDate":"07/12/2021","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/junior-backend-developer/44635582","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"Junior
        Backend Developer<br />Brighton / London Remote<br />35-40k Package &#43;
        Excellent Benefits<br /><br />Our client, a fast-growing company, focuses
        exclusively on delivering world-class digital branding and marketing services
        to the property market. Through embracing new technology, they develop first-class
        websites, mobile sites, digital marketing and social  media engagement strategies.
        Their growing portfolio of UK brands, utilise our client''s experience, knowledge
       [...]
[...]
