---
http_interactions:
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/search?keywords=backend
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":[{"jobId":44625183,"employerId":496791,"employerName":"Colossus
        Associates","employerProfileId":null,"employerProfileName":null,"jobTitle":"Backend
        Web Developer","locationName":"Birmingham","minimumSalary":null,"maximumSalary":null,"currency":null,"expirationDate":"27/11/2021","date":"06/11/2021","jobDescription":"Part
        RemoteDigital agency specialising in website design are seeking a passionate
        PHP developer to support in the development of functional and visually pleasing
        websites. This is an exciting opportunity for the ideal candidate to join
        an established company and work  with household name clients. The company
        have been going from strength to strength despite the pandemic, and are now
        looking to expand their team. Role and ... ","applications":1,"jobUrl":"https://www.reed.co.uk/jobs/backend-web-developer/44625183"},{"jobId":44335005,"employerId":390546,"employerName":"Profectus
        Recruitment","employerProfileId":null,"employerProfileName":null,"jobTitle":"Remote
        Backend Developer","locationName":"London","minimumSalary":60000.00,"maximumSalary":70000.00,"currency":"GBP","expirationDate":"22/11/2021","date":"11/10/2021","jobDescription":"
        At Profectus we have an exciting role with a Start-up for a Backend Developer.
        [...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/44625183
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":496791,"employerName":"Colossus Associates","jobId":44625183,"jobTitle":"Backend
        Web Developer","locationName":"Birmingham","minimumSalary":null,"maximumSalary":null,"yearlyMinimumSalary":null,"yearlyMaximumSalary":null,"currency":null,"salaryType":"per
        annum","salary":null,"datePosted":"06/11/2021","expirationDate":"27/11/2021","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/backend-web-developer/44625183","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"Part
        Remote<br /><br />Digital agency specialising in website design are seeking
        a passionate PHP developer to support in the development of functional and
        visually pleasing websites. This is an exciting opportunity for the ideal
        candidate to join an established company and work  with household name clients.
        The company have been going from strength to strength despite the pandemic,
        and are now looking to expand their team. <br /><br />Role and Responsibilities:
        [...]
[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/44477579
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":408461,"employerName":"X4 Group","jobId":44477579,"jobTitle":"Backend
        Developer","locationName":"London","minimumSalary":45000.0000,"maximumSalary":55000.0000,"yearlyMinimumSalary":45000.0000,"yearlyMaximumSalary":55000.0000,"currency":"GBP","salaryType":"per
        annum","salary":"£45,000 - £55,000 per annum","datePosted":"25/10/2021","expirationDate":"24/11/2021","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/backend-developer/44477579","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"
        <p>A cloud-first gaming and gambling technology platform is looking for a
        Backend Developer with Node and TypeScript experience to join the team to
        work on a host of greenfield projects, as they rapidly expand into new international
        territories. This is an  exciting opportunity to join an expanding team and
        have real ownership of your code.</p> <p><strong>Developer responsibilities:</strong></p>
        <ul> <li>Building, maintaining and deploying integration microservices with
        external service providers into AWS cloud using Node.js and ES7</li><li>Building
        and maintaining high throughput and low latency platform</li><li>Integration
        of new elements into their app</li><li>Integration with third-party payment
        providers with Lambda and API gateway.</li></ul> <p><strong>Developer requirements:&nbsp;</strong></p>
        <ul> <li>2 years backend development using Node</li><li>Exposure to TypeScript</li></ul>
        <p>The successful candidate would ideally be able to come into the office,
        based in West London, once a fortnight to attend workshops.</p> <p>Interviews
        are commencing from the 28th of October with a view for the successful candidate
        to start as soon as possible. If you are a developer with Node and TypeScript
        experience, please apply now for immediate consideration</p> ","applicationCount":2}'
  recorded_at: Sun, 07 Nov 2021 06:53:55 GMT
[...]
