---
http_interactions:
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/search?keywords=backend
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":[{"jobId":44537102,"employerId":300264,"employerName":"Client
        Server Ltd.","employerProfileId":null,"employerProfileName":null,"jobTitle":"C#
        Developer / Backend Software Engineer","locationName":"Surrey Research Park","minimumSalary":55000.00,"maximumSalary":65000.00,"currency":"GBP","expirationDate":"30/11/2021","date":"02/11/2021","jobDescription":"C#
        Developer / Backend Software Engineer (C# .Net Core AI NLP) *Remote Interview
        WfH*. Are you a data centric C# Developer looking for an opportunity to progress
        your career? You could be joining a successful and growing software house.
        As a C# Developer you will design and develop core components of the flagship
        product that utilises AI and NLP techniques to make sense of unstructured
        data. The work is challenging and complex with a... ","applications":4,"jobUrl":"https://www.reed.co.uk/jobs/c-developer-backend-software-engineer/44537102"},{"jobId":44655881,"employerId":300264,"employerName":"Client
        Server Ltd.","employerProfileId":null,"employerProfileName":null,"jobTitle":"Java
        Developer / Backend Software Engineer","locationName":"London","minimumSalary":85000.00,"maximumSalary":100000.00,"currency":"GBP","expirationDate":"08/12/2021","date":"10/11/2021","jobDescription":"Java
        Developer / Backend Software Engineer (Linux TCP/IP[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/44537102
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":300264,"employerName":"Client Server Ltd.","jobId":44537102,"jobTitle":"C#
        Developer / Backend Software Engineer","locationName":"Surrey Research Park","minimumSalary":55000.0000,"maximumSalary":65000.0000,"yearlyMinimumSalary":55000.0000,"yearlyMaximumSalary":65000.0000,"currency":"GBP","salaryType":"per
        annum","salary":"£55,000 - £65,000 per annum","datePosted":"02/11/2021","expirationDate":"30/11/2021","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/c-developer-backend-software-engineer/44537102","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"C#
        Developer / Backend Software Engineer (C# .Net Core AI NLP) *Remote Interview
        WfH*. Are you a data centric C# Developer looking for an opportunity to progress
        your career? You could be joining a successful and growing software house.
        <br /><br />As a C# Developer you will design and develop core components
        of the flagship product that utilises AI and NLP techniques to make sense
        of unstructured data. The work is challenging and complex with a strong pipeline
        of projects; you''ll gain exposure to a wide  range of technologies across
        the full stack with a focus on C# .Net Core within a microservices environment,
        working across the full development lifecycle, from liaising with clients
      [...]
[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/44639198
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":501625,"employerName":"BCT Resourcing ","jobId":44639198,"jobTitle":"Backend
        Developer - 65K","locationName":"Cambridge","minimumSalary":30000.0000,"maximumSalary":65000.0000,"yearlyMinimumSalary":30000.0000,"yearlyMaximumSalary":65000.0000,"currency":"GBP","salaryType":"per
        annum","salary":"£30,000 - £65,000 per annum","datePosted":"08/11/2021","expirationDate":"20/12/2021","externalUrl":"https://bctresourcing.co.uk/candidate-register?jobid=2008246&utm_source=reed.co.uk&utm_medium=referral","jobUrl":"https://www.reed.co.uk/jobs/backend-developer-65k/44639198","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"<strong>Back-End
        Developer</strong><br /><strong>Cambridge</strong><br /><strong>&#163;30,000
        - &#163;65,000 per annum<br /></strong><br /><br />My client is going supersonic
        with the next-generation development of web applications. Hosted on the cloud,
        this revolution company is reinventing and disrupting the marketplace with
        its novel solution.<br /><br />To continue their reputation for high performance
        and scalable software, they need a developer that [...]
[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/44653273
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":87642,"employerName":"Anson McCade Ltd - IT and Finance
        Recruitment","jobId":44653273,"jobTitle":"Lead Backend Developer","locationName":"London","minimumSalary":80000.0000,"maximumSalary":100000.0000,"yearlyMinimumSalary":80000.0000,"yearlyMaximumSalary":100000.0000,"currency":"GBP","salaryType":"per
        annum","salary":"£80,000 - £100,000 per annum, negotiable, OTE","datePosted":"09/11/2021","expirationDate":"21/12/2021","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/lead-backend-developer/44653273","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"
        <p><strong>Lead Backend Developer</strong></p> <p><strong>Central London</strong></p>
        <p>A leading client in Fintech, are looking for a fluent Golang developer.
        This company is in the early stage of Greenfield project in fintech space.
        They are a small, high-profile core tech who use mircoservice-only docker
        containerised architecture and automation-only  cloud agnostic infrastructure
        management.</p> <p>What you''ll be doing:</p> <ul> <li>Using heterogeneous
        micro service stack using Python, Java/ Kotlin and Go.</li><li>Using TDD as
        the primary approach, must have a strong test driven CI/CT/CD pipeline.</li><li>Practicing
        an automation- first QA approach, with minimal, yet reasonable manual component.</li></ul>
        <p>Do you have what it takes?</p> <ul> <li>2 years required experience with
        Golang, as well as 3 years'' experience with mobile SDKs, for iOS and/or Android.</li><li>Clear
        understanding of object-oriented programming and able to reuse code and write
        clear, readable and maintainable code.</li><li>Must be familiar with design
        and architectural patterns eg: MVVM,MVC</li><li>High proficient in AWS, Azure,
        GCP, also have experience implementing and using TDD practices.</li></ul>
        <p>Benefits</p> <ul> <li>Great salary &#43; bonuses at year end</li><li>Possibility
        of stock options</li><li>Flexible working patterns</li><li>Subsidised healthcare
        protection</li></ul> <p>Lead Backend Developer</p> <p>&#163;80,000-&#163;100,000</p>
        <p>Bonus package</p> <p>Permanent</p> <p>Location: Central London</p> <p>Ref:
        AMC/LBD/NW/LBD01</p> ","applicationCount":0}'
  recorded_at: Sun, 14 Nov 2021 09:38:01 GMT
[...]
