---
http_interactions:
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/search?keywords=backend
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":[{"jobId":44397932,"employerId":346427,"employerName":"Understanding
        Recruitment","employerProfileId":null,"employerProfileName":null,"jobTitle":"Backend
        Developer","locationName":"London","minimumSalary":80000.00,"maximumSalary":120000.00,"currency":"GBP","expirationDate":"09/01/2022","date":"17/10/2021","jobDescription":"
        Would you like to re-invent payments and develop breakthrough technology?
        I am looking for Backend developers to help develop breakthrough technology
        and re-invent payments at one of the most well-backed DeFi start-ups in the
        world. With over $24 million in funding from some of the top crypto investors
        such as Coinbase, this company is scaling blockchains such as Ethereum to
        100''s of millions of users whilst fo... ","applications":6,"jobUrl":"https://www.reed.co.uk/jobs/backend-developer/44397932"},{"jobId":44716449,"employerId":436122,"employerName":"Salt
        Search","employerProfileId":null,"employerProfileName":null,"jobTitle":"Backend
        Software Engineer","locationName":"London","minimumSalary":200.00,"maximumSalary":250.00,"currency":"GBP","expirationDate":"28/12/2021","date":"16/11/2021","jobDescription":"
        Outside IR35-1 Day Per Week- 3-6 Months Contract- Remote Salt are looking
        to speak to a Backend [...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/44397932
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":346427,"employerName":"Understanding Recruitment","jobId":44397932,"jobTitle":"Backend
        Developer","locationName":"London","minimumSalary":80000.0000,"maximumSalary":120000.0000,"yearlyMinimumSalary":80000.0000,"yearlyMaximumSalary":120000.0000,"currency":"GBP","salaryType":"per
        annum","salary":"£80,000 - £120,000 per annum","datePosted":"17/10/2021","expirationDate":"09/01/2022","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/backend-developer/44397932","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"
        <p><strong>Would you like to re-invent payments and develop breakthrough technology?</strong></p>
        <p>I am looking for Backend developers to help develop breakthrough technology
        and re-invent payments at one of the most well-backed DeFi start-ups in the
        world.</p> <p>With over $24 million in funding from some of the top crypto
        investors such as Coinbase, this company is scaling blockchains such as Ethereum
        to 100''s of millions of users whilst focusing on privacy and security.</p>
        <p>They are looking for Backend developers to build out their latest security
        platform along side world class engineers, cryptographers and PHD that have
        worked at Zcash, Betfair, Triptease, TripNotice and Google.</p> <p>Tech Stack</p>
        <p>Day-to-day you will be using TypeScript, Node and whatever other tech you
        feel is needed to get the job done.</p> <p>You will be working with microservices,
        architecture and have autonomy over all backend management.</p> <p>Salary
        and Package</p> <p>They are offering 80K-120K (dependant on experience) &#43;
        equity, flexible remote working and 25 days holiday. </p> ","applicationCount":6}'
  recorded_at: Mon, 29 Nov 2021 03:56:08 GMT
[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/44794181
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":391063,"employerName":"Opus Recruitment Solutions Ltd","jobId":44794181,"jobTitle":"Node/Backend
        Developer","locationName":"Stirling","minimumSalary":400.0000,"maximumSalary":500.0000,"yearlyMinimumSalary":104000.0000,"yearlyMaximumSalary":130000.0000,"currency":"GBP","salaryType":"per
        day","salary":"£400.00 - £500.00 per day","datePosted":"24/11/2021","expirationDate":"05/01/2022","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/node-backend-developer/44794181","partTime":false,"fullTime":true,"contractType":"Contract","jobDescription":"Are
        you looking for a new contract?<br /><br />If so my client with offices in
        Stirling and Dundee is currently in need of a NodeJS/Backend developer for
        an initial 3 month contract.<br /><br />The role involves working with service,
        retail and financial services clients in developing&nbsp;a wide range of mobile
        and web application projects.<br /><br /><strong>Key Skills:</strong><br /><ul>
        <li>At least 3 years experience with NodeJS</li><li>Excellent knowledge of
        MySQL</li><li>Understanding of AWS / Azure</li></ul> <br />If you or anyone
        you know is currently in the market for a new contract, please reach out to
        myself by applying and sending over an updated CV to&nbsp;&nbsp;or give me
        a call on to discuss the role further.","applicationCount":1}'
  recorded_at: Mon, 29 Nov 2021 03:56:10 GMT
[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/44708450
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":247035,"employerName":"CORECRUITMENT","jobId":44708450,"jobTitle":"Backend
        Magento Developer","locationName":"Dubai","minimumSalary":68400.0000,"maximumSalary":80400.0000,"yearlyMinimumSalary":68400.0000,"yearlyMaximumSalary":80400.0000,"currency":"GBP","salaryType":"per
        annum","salary":"£68,400 - £80,400 per annum","datePosted":"15/11/2021","expirationDate":"13/12/2021","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/backend-magento-developer/44708450","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"
        <p><strong>Job Title: Backend Magento Developer</strong></p> <p><strong>Salary:</strong>
        AED 35,000 per month</p> <p><strong>Location: </strong>Dubai</p> <p><em>We
        are working with a growing ecommerce platform based in Dubai. This position
        could be remote in the Dubai &nbsp;or Europe. You will be using your Magneto
        2 developer skills to work on e-commerce projects on the back end and will
        be developing features that  are exposed over APIs to be utilized by a headless
        frontend.</em></p> <p><strong>About the position</strong></p> <ul> <li>Develop
        backend features exposed over GraphQL APIs</li><li>Develop sys[...]
[...]
- request:
    method: get
    uri: https://freecurrencyapi.net/api/v2/latest?apikey=<FREECURRENCY_API_KEY>&base_currency=GBP
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Charset:
      - utf-8
      X-Ratelimit-Remaining:
      - '4246'
      X-Ratelimit-Limit:
      - '4500'
    body:
      encoding: UTF-8
      string: '{"query":{"apikey":"<FREECURRENCY_API_KEY>","base_currency":"GBP","timestamp":1638158181},"data":{"USD":1.334739,"JPY":151.603062,"CNY":8.522831,"CHF":1.235114,"CAD":1.701139,"MXN":28.963522,"INR":100.160956,"BRL":7.487073,"RUB":99.601434,"KRW":1588.507361,"IDR":19133.931354,"TRY":16.442373,"SAR":5.007261,"SEK":12.186663,"NGN":546.77208,"PLN":5.562646,"ARS":134.477303,"NOK":12.044367,"TWD":37.114561,"IRR":56059.954032,"AED":4.90219,"COP":5340.676059,"THB":45.021356,"ZAR":21.517332,"DKK":8.797734,"MYR":5.656732,"SGD":1.828046,"ILS":4.242389,"HKD":10.409017,"EGP":20.902431,"PHP":67.218497,"CLP":1109.674911,"PKR":233.982368,"IQD":1946.083021,"DZD":184.731918,"KZT":578.998625,"QAR":4.888589,"CZK":30.374167,"PEN":5.389624,"RON":5.853259,"VND":30259.195339,"BDT":114.310127,"HUF":436.551087,"UAH":36.199036,"AOA":782.168978,"MAD":12.330602,"OMR":0.513888,"CUC":32.03469,"BYR":4.004258,"AZN":2.259767,"LKR":269.621455,"SDG":582.430026,"SYP":3351.58579,"MMK":2378.559162,"DOP":75.56043,"UZS":14378.036185,"KES":150.092978,"GTQ":10.324395,"URY":58.796412,"HRV":8.876443,"MOP":10.720853,"ETB":63.822093,"CRC":839.019567,"TZS":3063.314611,"TMT":4.65836,"TND":3.850789,"PAB":1.334753,"LBP":2009.499673,"RSD":138.507334,"LYD":6.145033,"GHS":7.981901,"YER":333.663566,"BOB":9.103069,"BHD":0.50321,"CDF":2663.920289,"PYG":9100.37298,"UGX":4753.122916,"SVC":11.678421,"TTD":8.961506,"AFN":128.285394,"NPR":159.8923,"HNL":32.131632,"BIH":2.311822,"BND":1.827712,"ISK":173.705864,"KHR":5417.824015,"GEL":4.104417,"MZN":84.356976,"BWP":15.758893,"PGK":4.682345,"JMD":206.086157,"XAF":774.97189,"NAD":21.627167,"ALL":142.420496,"SSP":542.076908,"MUR":57.155003,"MNT":3790.725818,"NIO":47.317481,"LAK":14454.15224,"MKD":72.638339,"AMD":642.693998,"MGA":5292.731397,"XPF":140.991965,"TJS":15.042725,"HTG":130.805929,"BSD":1.334753,"MDL":23.627981,"RWF":1329.553583,"KGS":113.148169,"GNF":12500.134221,"SRD":28.605131,"SLL":14690.29108,"XOF":774.50046,"MWK":1069.512767,"FJD":2.834666,"ERN":20.088373,"SZL":21.500714,"GYD":277.748709,"BIF":2648.597429,"KYD":1.0945,"MVR":20.582173,"LSL":21.500968,"LRD":188.467319,"CVE":130.434378,"DJF":236.922772,"SCR":19.295138,"SOS":767.488995,"GMD":69.474193,"KMF":581.638112,"STD":28.97763,"XRP":1.41485,"AUD":1.875736,"BGN":2.305936,"BTC":0.023091,"JOD":0.945009,"GBP":1,"ETH":0.00032,"EUR":1.182993,"LTC":0.013347,"NZD":1.95849}}'
  recorded_at: Mon, 29 Nov 2021 03:56:21 GMT
[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/44677663
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":415711,"employerName":"Explore Group","jobId":44677663,"jobTitle":"Senior
        Backend Developer","locationName":"London","minimumSalary":50000.0000,"maximumSalary":80000.0000,"yearlyMinimumSalary":50000.0000,"yearlyMaximumSalary":80000.0000,"currency":"GBP","salaryType":"per
        annum","salary":"£50,000 - £80,000 per annum","datePosted":"11/11/2021","expirationDate":"23/12/2021","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/senior-backend-developer/44677663","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"
        <p><strong>Backend Developer (PHP with Symfony/Laravel)</strong></p> <p><strong>Salary:
        </strong>&#163;50,000 - &#163;80,000 DoE</p> <p><strong>Focus: </strong>SaaS
        products</p> <p><strong>Location: </strong>London</p> <p><strong>WFH:</strong>
        Flexible (Fully remote or hybrid based on preference)</p> <p><strong>About
        Us:</strong></p> <p>We are a UK market leader, providing SaaS applications
        to a wide variety of clients, servicing all facets of business development
        and maintenance. There will always be something new to build whilst working
        here!</p> <p><strong>Your Role:</strong></p> <p>As a backend engineer you
        will aid in the building of new features and modules. You will be involved
        in shaping the product and it''s underlying framework, participating in code
        rev[...]
[...]
