---
http_interactions:
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/INVALID%20JOB_ID
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"The request is invalid."}'
  recorded_at: Sun, 28 Nov 2021 08:41:05 GMT
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/search?keywords=backend
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":[{"jobId":44792847,"employerId":300264,"employerName":"Client
        Server Ltd.","employerProfileId":null,"employerProfileName":null,"jobTitle":"Backend
        Web Developer JavaScript Node.js API","locationName":"Camden","minimumSalary":65000.00,"maximumSalary":75000.00,"currency":"GBP","expirationDate":"22/12/2021","date":"24/11/2021","jobDescription":"Backend
        Web Developer (JavaScript Node.js API) *Hybrid WfH*. Would you like to progress
        your career working on a range of interesting projects? You could be joining
        a UK Not-for-Profit technology company that acts as an innovation catalyst,
        helping businesses  across a broad range of industries to improve their technology
        capabilities with AI and IoT in a responsible manner.As a Backend Web Developer
        you''ll work on a range of project... ","applications":3,"jobUrl":"https://www.reed.co.uk/jobs/backend-web-developer-javascript-nodejs-api/44792847"},{"jobId":44708450,"employerId":247035,"employerName":"CORECRUITMENT","employerProfileId":null,"employerProfileName":null,"jobTitle":"Backend
        Magento Developer","locationName":"Dubai","minimumSalary":68400.00,"maximumSalary":80400.00,"currency":"GBP","expirationDate":"13/12/2021","date":"15/11/2021","jobDescription":"
        Job Title: Backend Magento Developer Salary: AED 35,000 per month Location:
     [...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/44792847
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":300264,"employerName":"Client Server Ltd.","jobId":44792847,"jobTitle":"Backend
        Web Developer JavaScript Node.js API","locationName":"Camden","minimumSalary":65000.0000,"maximumSalary":75000.0000,"yearlyMinimumSalary":65000.0000,"yearlyMaximumSalary":75000.0000,"currency":"GBP","salaryType":"per
        annum","salary":"£65,000 - £75,000 per annum","datePosted":"24/11/2021","expirationDate":"22/12/2021","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/backend-web-developer-javascript-nodejs-api/44792847","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"Backend
        Web Developer (JavaScript Node.js API) *Hybrid WfH*. Would you like to progress
        your career working on a range of interesting projects? You could be joining
        a UK Not-for-Profit technology company that acts as an innovation catalyst,
        helping businesses  across a broad range of industries to improve their technology
        capabilities with AI and IoT in a responsible manner.<br /><br />As a Backend
        Web Developer you''ll work on a range of projects with a focus on Greenfield
        innovation projects; you''ll be producing proof-of-concepts, architecting
        and building solutions to help client companies enhance their business'',
        introducing AI to solve  real-world business problems. You will be collaborating
        with an Agile software engineering team including DevOps Engineers in a technology
        driven environment where continually learning, experimentation and innovation
        are key.<br /><br />There''s a remote interview and onboarding process, following
        that you''ll join colleagues in the London office 2-3 days a week with flexibility
        to work from home part of the week.<br /><br />Requirements:<br />*You have
        strong Vanilla JavaScript skills combined with a good knowledge of Node.js
        for backend development<br />*You have experience of building REST APIs<br
        />*You have a good appreciation of DevOps environments encompassing Docker
        and Kubernetes<br />*You''re collaborative, enjoy problem and trying new things<br
        /><br />As a Backend Web Developer you will earn a competitive salary (to
        &#163;75k) plus benefits.<br /><br />Apply now or call to find out more about
        this Backend Web Developer (JavaScript Node.js API) opportunity.","applicationCount":3}'
  recorded_at: Sun, 28 Nov 2021 08:41:07 GMT
- request:
    method: get
    uri: https://freecurrencyapi.net/api/v2/latest?apikey=<FREECURRENCY_API_KEY>&base_currency=GBP
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Charset:
      - utf-8
      X-Ratelimit-Remaining:
      - '4486'
      X-Ratelimit-Limit:
      - '4500'
    body:
      encoding: UTF-8
      string: '{"query":{"apikey":"<FREECURRENCY_API_KEY>","base_currency":"GBP","timestamp":1638088870},"data":{"USD":1.334739,"JPY":151.10794,"CNY":8.537126,"CHF":1.23095,"CAD":1.706918,"MXN":29.207232,"INR":100.160462,"BRL":7.483509,"RUB":100.473819,"KRW":1588.627995,"IDR":19087.259006,"TRY":15.956648,"SAR":5.006941,"SEK":12.204415,"NGN":546.769611,"PLN":5.532788,"ARS":134.477436,"NOK":12.074759,"TWD":37.1776,"IRR":56060.121755,"AED":4.90219,"COP":5340.637111,"THB":45.061318,"ZAR":21.688405,"DKK":8.765019,"MYR":5.65545,"SGD":1.828673,"ILS":4.24973,"HKD":10.409898,"EGP":20.929192,"PHP":67.366199,"CLP":1109.691155,"PKR":233.985838,"IQD":1946.095474,"DZD":184.731891,"KZT":581.798788,"QAR":4.882623,"CZK":30.251452,"PEN":5.389637,"RON":5.832704,"VND":30269.754808,"BDT":114.309713,"HUF":434.065909,"UAH":36.198889,"AOA":782.175171,"MAD":12.330575,"OMR":0.513754,"CUC":32.03445,"BYR":4.004258,"AZN":2.259767,"LKR":269.621415,"SDG":582.432002,"SYP":3351.591596,"MMK":2378.57271,"DOP":75.413756,"UZS":14348.788644,"KES":150.095474,"GTQ":10.309726,"URY":58.970369,"HRV":8.876443,"MOP":10.722081,"ETB":63.822453,"CRC":835.566437,"TZS":3067.284593,"TMT":4.65836,"TND":3.844503,"PAB":1.334753,"LBP":2007.491091,"RSD":138.50939,"LYD":6.145019,"GHS":7.981861,"YER":333.331936,"BOB":9.103189,"BHD":0.50321,"CDF":2648.952016,"PYG":9100.503971,"UGX":4753.06308,"SVC":11.667023,"TTD":8.989469,"AFN":128.151853,"NPR":159.890231,"HNL":32.127735,"BIH":2.305415,"BND":1.829701,"ISK":173.133154,"KHR":5419.123704,"GEL":4.100252,"MZN":84.356896,"BWP":15.777793,"PGK":4.682359,"JMD":206.087078,"XAF":773.747507,"NAD":21.627327,"ALL":142.420576,"SSP":531.235008,"MUR":57.155083,"MNT":3790.728941,"NIO":46.997077,"LAK":14440.738071,"MKD":72.638192,"AMD":642.693037,"MGA":5301.131846,"XPF":140.323581,"TJS":15.042912,"HTG":130.80685,"BSD":1.334766,"MDL":23.60461,"RWF":1362.932636,"KGS":112.786695,"GNF":12465.288117,"SRD":28.604036,"SLL":14675.718036,"XOF":775.494748,"MWK":1077.833344,"FJD":2.834653,"ERN":20.021489,"SZL":21.750751,"GYD":277.751084,"BIF":2647.774883,"KYD":1.101173,"MVR":20.582173,"LSL":21.750631,"LRD":188.470429,"CVE":130.005019,"DJF":236.922412,"SCR":19.287543,"SOS":767.4875,"GMD":69.874975,"KMF":580.494,"STD":28.884492,"XRP":1.40149,"AUD":1.875736,"BGN":2.305949,"BTC":0.024693,"JOD":0.945022,"GBP":1,"ETH":0.00032,"EUR":1.18047,"LTC":0.013347,"NZD":1.958516}}'
  recorded_at: Sun, 28 Nov 2021 08:41:10 GMT
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/search?keywords=backend
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic SU5WQUxJRCBUT0tFTjo=
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Basic
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 28 Nov 2021 08:41:13 GMT
recorded_with: VCR 6.0.0
