---
http_interactions:
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/search?keywords=backend
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic NDhhNjBmYmYtNTQ0Zi00ZWIzLWEyY2QtODNmZGJkNGE3MmFiOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":[{"jobId":44489464,"employerId":300264,"employerName":"Client
        Server Ltd.","employerProfileId":null,"employerProfileName":null,"jobTitle":"Java
        Developer Backend Technologist","locationName":"London","minimumSalary":75000.00,"maximumSalary":90000.00,"currency":"GBP","expirationDate":"24/11/2021","date":"27/10/2021","jobDescription":"Java
        Developer / Backend Software Engineer *Remote UK / Work from Home*. Would
        you like to progress your career working on a modern tech stack where you''ll
        be continually learning? You could be progressing your career at a market
        leading SaaS software  house that specialise in communications recording and
        management for regulated environments such as trade floors.As a Java Developer
        you will design and develop new features and enhanc... ","applications":4,"jobUrl":"https://www.reed.co.uk/jobs/java-developer-backend-technologist/44489464"},{"jobId":44489444,"employerId":300264,"employerName":"Client
        Server Ltd.","employerProfileId":null,"employerProfileName":null,"jobTitle":"C#
        Developer - Work from Home","locationName":"Camden","minimumSalary":65000.00,"maximumSalary":75000.00,"currency":"GBP","expirationDate":"24/11/2021","date":"27/10/2021","jobDescription":"C#
        Developer / Backend Software Engineer (.Net Core AWS microservices) *[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/44489464
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic NDhhNjBmYmYtNTQ0Zi00ZWIzLWEyY2QtODNmZGJkNGE3MmFiOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":300264,"employerName":"Client Server Ltd.","jobId":44489464,"jobTitle":"Java
        Developer Backend Technologist","locationName":"London","minimumSalary":75000.0000,"maximumSalary":90000.0000,"yearlyMinimumSalary":75000.0000,"yearlyMaximumSalary":90000.0000,"currency":"GBP","salaryType":"per
        annum","salary":"£75,000 - £90,000 per annum","datePosted":"27/10/2021","expirationDate":"24/11/2021","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/java-developer-backend-technologist/44489464","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"Java
        Developer / Backend Software Engineer *Remote UK / Work from Home*. Would
        you like to progress your career working on a modern tech stack where you''ll
        be continually learning? You could be progressing your career at a market
        leading SaaS software  house that specialise in communications recording and
        management for regulated environments such as trade floors.<br /><br />As
        a Java Developer you will design and develop new features and enhancements
        to the core, data centric product that enables clients to better understand
        their data to drive a range of business benefits. You''ll be an instrumental
        part of a collaborative Agile  development team working across the full development
        lifecycle from liaising with the Product Owner to refine requirements through
        development stages and delivery. You''ll be working[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/INVALID%20JOB_ID
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic NDhhNjBmYmYtNTQ0Zi00ZWIzLWEyY2QtODNmZGJkNGE3MmFiOg==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"The request is invalid."}'
  recorded_at: Sun, 31 Oct 2021 08:34:19 GMT
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/search?keywords=backend
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic SU5WQUxJRCBUT0tFTjo=
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Basic
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 31 Oct 2021 08:34:20 GMT
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/search?keywords=backend
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic Zjk5YmUzNWEtOGUyYS00OTViLWFlNDItMmJiYTkwNTEzOThiOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":[{"jobId":44581151,"employerId":453617,"employerName":"Trust
        In Soda","employerProfileId":null,"employerProfileName":null,"jobTitle":"Backend
        Developer - Node.js - Contract","locationName":"London","minimumSalary":500.00,"maximumSalary":600.00,"currency":"GBP","expirationDate":"01/12/2021","date":"03/11/2021","jobDescription":"
        Backend Developer - Node.js Start: ASAP Duration: 6 months Location: Remote
        Rate: &#163;500-&#163;600/day IR35: Outside  Trust In Soda have partnered
        with one of the UK''s fastest growing online marketplace''s who are in need
        of a Backend Developer specialising in Node.js. This is a fantastic opportunity
        to work for a very tech focused start-up with great financial backing, now
        in scale-up mode ... ","applications":0,"jobUrl":"https://www.reed.co.uk/jobs/backend-developer-nodejs-contract/44581151"},{"jobId":44482037,"employerId":300264,"employ[...]
[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/INVALID%20JOB_ID
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic Zjk5YmUzNWEtOGUyYS00OTViLWFlNDItMmJiYTkwNTEzOThiOg==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"The request is invalid."}'
  recorded_at: Wed, 03 Nov 2021 13:37:33 GMT
recorded_with: VCR 6.0.0
