---
http_interactions:
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/search?keywords=backend
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":[{"jobId":44710222,"employerId":300264,"employerName":"Client
        Server Ltd.","employerProfileId":null,"employerProfileName":null,"jobTitle":"Backend
        Web Developer Python Django","locationName":"London","minimumSalary":55000.00,"maximumSalary":65000.00,"currency":"GBP","expirationDate":"14/12/2021","date":"16/11/2021","jobDescription":"Backend
        Web Developer / Software Engineer (Python Django) *Hybrid WfH*. Do you have
        a good knowledge of Computer Science and Python development skills? You could
        be progressing your career at a high growth tech start-up within the digital
        marketing space. As a Backend Web Developer you will focus on a web based
        application, working across the full development lifecycle with a focus on
        Python and Django / Flask backend development.<br... ","applications":8,"jobUrl":"https://www.reed.co.uk/jobs/backend-web-developer-python-django/44710222"},{"jobId":44792847,"employerId":300264,"employerName":"Client
        Server Ltd.","employerProfileId":null,"employerProfileName":null,"jobTitle":"Backend
        Web Developer JavaScript Node.js API","locationName":"Camden","minimumSalary":65000.00,"maximumSalary":75000.00,"currency":"GBP","expirationDate":"22/12/2021","date":"24/11/2021","jobDescription":"Backend
        Web Developer (JavaScript Node.js API) *Hybrid Wf[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/44710222
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":300264,"employerName":"Client Server Ltd.","jobId":44710222,"jobTitle":"Backend
        Web Developer Python Django","locationName":"London","minimumSalary":55000.0000,"maximumSalary":65000.0000,"yearlyMinimumSalary":55000.0000,"yearlyMaximumSalary":65000.0000,"currency":"GBP","salaryType":"per
        annum","salary":"£55,000 - £65,000 per annum","datePosted":"16/11/2021","expirationDate":"14/12/2021","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/backend-web-developer-python-django/44710222","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"Backend
        Web Developer / Software Engineer (Python Django) *Hybrid WfH*. Do you have
        a good knowledge of Computer Science and Python development skills? You could
        be progressing your career at a high growth tech start-up within the digital
        marketing space. <br /><br />As a Backend Web Developer you will focus on
        a web based application, working across the full development lifecycle with
        a focus on Python and Django / Flask backend development.<br />The company
        has received significant funding and has ambitious growth plans, this is a
        great time to get on board with share options as part of the package. <br
        /><br />There''s a remote interview and onboarding process as well as the
        ability to work from home; you''ll join the team in the London office for
        around two days a month for meet-ups with the remaining work from home (or
        more office time if desired).<br /><br />Requirements:<br />*You have strong
        Python coding skills including Django (or Flask)<br />*You have full lifecycle
        development experience<br />*You have TDD / unit testing experience and a
        good understanding of CI/CD pipelines <br />*You''re keen to work in a start-up
        environment where you can influence the tech strategy <br />*You''re collaborative
        and pragmatic with great communication skills<br /><br />As a Backend Web
        Developer / Software Engineer you will earn a competitive salary (to &#163;65k)
        plus bonus and share options.<br /><br />Apply now or call to find out more
        about this Backend Web Developer / Software Engineer (Python Django) opportunity.","applicationCount":8}'
  recorded_at: Sun, 28 Nov 2021 10:02:35 GMT
[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/44708450
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":247035,"employerName":"CORECRUITMENT","jobId":44708450,"jobTitle":"Backend
        Magento Developer","locationName":"Dubai","minimumSalary":68400.0000,"maximumSalary":80400.0000,"yearlyMinimumSalary":68400.0000,"yearlyMaximumSalary":80400.0000,"currency":"GBP","salaryType":"per
        annum","salary":"£68,400 - £80,400 per annum","datePosted":"15/11/2021","expirationDate":"13/12/2021","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/backend-magento-developer/44708450","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"
        <p><strong>Job Title: Backend Magento Developer</strong></p> <p><strong>Salary:</strong>
        AED 35,000 per month</p> <p><strong>Location: </strong>Dubai</p> <p><em>We
        are working with a growing ecommerce platform based in Dubai. This position
        could be remote in the Dubai &nbsp;or Europe. You will be using your Magneto
        2 developer skills to work on e-commerce projects on the back end and will
        be developing features that  are exposed over APIs to be utilized by a headless
        frontend.</em></p> <p><strong>About the position</strong></p> <ul> <li>Develop
        backend features exposed over GraphQL APIs</li><li>Develop system integrations
        between Magento and other systems</li><li>Writing reusable, testable, and
        efficient code with acceptable unit testing coverage</li><li>Collaborate with
        frontend developers during the application development cycle &nbsp;</li><li>Recommending
        and implementing improvements to processes and technologies</li></ul> <p>.</p>
        <p><strong>The successful candidate</strong></p> <ul> <li>Strong skills with
        Magneto 2 and PHP</li><li>Experience developing Magneto 2 modules and features</li><li>Experience
        developing GraphQL</li><li>Experience with Headless front ends for Magneto</li><li>Experience
        with other languages such as javascipt or typescript</li><li>Experience with
        distributed (service) architectures and event driven systems, and fundamental
        design principles behind a scalable application</li><li>Exceptional analytical
        and problem-solving aptitude</li></ul> <p><em>If you are keen to discuss the
        details further, please apply today or send your cv to </em></p> <p>Get social…….</p>
        <p>http://</p> <p>https://COREcruitmentDOTcom/</p> <p>Tweet us @COREcruitment&nbsp;</p>
        ","applicationCount":6}'
  recorded_at: Sun, 28 Nov 2021 10:02:37 GMT
[...]
- request:
    method: get
    uri: https://freecurrencyapi.net/api/v2/latest?apikey=<FREECURRENCY_API_KEY>&base_currency=GBP
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Charset:
      - utf-8
      X-Ratelimit-Remaining:
      - '4453'
      X-Ratelimit-Limit:
      - '4500'
    body:
      encoding: UTF-8
      string: '{"query":{"apikey":"<FREECURRENCY_API_KEY>","base_currency":"GBP","timestamp":1638093768},"data":{"USD":1.334739,"JPY":151.108314,"CNY":8.537219,"CHF":1.230963,"CAD":1.706891,"MXN":29.207485,"INR":100.161597,"BRL":7.483469,"RUB":100.475394,"KRW":1588.628409,"IDR":19087.238131,"TRY":15.956741,"SAR":5.006941,"SEK":12.204268,"NGN":546.77894,"PLN":5.532748,"ARS":134.476956,"NOK":12.074759,"TWD":37.1772,"IRR":56059.92755,"AED":4.902217,"COP":5340.631652,"THB":45.062105,"ZAR":21.688485,"DKK":8.764979,"MYR":5.655437,"SGD":1.828673,"ILS":4.24973,"HKD":10.409805,"EGP":20.929072,"PHP":67.366132,"CLP":1109.687057,"PKR":233.985571,"IQD":1946.093285,"DZD":184.731317,"KZT":581.792902,"QAR":4.882583,"CZK":30.251104,"PEN":5.389677,"RON":5.832624,"VND":30269.852191,"BDT":114.309793,"HUF":434.064842,"UAH":36.199196,"AOA":782.167229,"MAD":12.330708,"OMR":0.513754,"CUC":32.034249,"BYR":4.004338,"AZN":2.259754,"LKR":269.624124,"SDG":582.436313,"SYP":3351.604717,"MMK":2378.569587,"DOP":75.414076,"UZS":14348.660856,"KES":150.093632,"GTQ":10.309646,"URY":58.970409,"HRV":8.87647,"MOP":10.722174,"ETB":63.822853,"CRC":835.558535,"TZS":3067.266227,"TMT":4.65832,"TND":3.844503,"PAB":1.334766,"LBP":2007.50325,"RSD":138.507775,"LYD":6.144979,"GHS":7.981981,"YER":333.328933,"BOB":9.103189,"BHD":0.50321,"CDF":2648.99972,"PYG":9100.452103,"UGX":4753.113373,"SVC":11.666862,"TTD":8.989335,"AFN":128.150879,"NPR":159.891606,"HNL":32.127775,"BIH":2.305415,"BND":1.829701,"ISK":173.131712,"KHR":5419.182526,"GEL":4.100306,"MZN":84.356536,"BWP":15.777619,"PGK":4.682399,"JMD":206.0884,"XAF":773.757825,"NAD":21.627127,"ALL":142.420002,"SSP":531.233032,"MUR":57.15495,"MNT":3790.77192,"NIO":46.99717,"LAK":14440.887481,"MKD":72.638339,"AMD":642.692089,"MGA":5301.179069,"XPF":140.323247,"TJS":15.042925,"HTG":130.807891,"BSD":1.334766,"MDL":23.604477,"RWF":1362.91726,"KGS":112.788003,"GNF":12465.487527,"SRD":28.60413,"SLL":14675.68655,"XOF":775.499233,"MWK":1077.833264,"FJD":2.834626,"ERN":20.02169,"SZL":21.750604,"GYD":277.752953,"BIF":2647.798534,"KYD":1.101173,"MVR":20.58192,"LSL":21.750791,"LRD":188.467639,"CVE":130.005286,"DJF":236.92121,"SCR":19.287223,"SOS":767.489142,"GMD":69.874775,"KMF":580.484804,"STD":28.884412,"XRP":1.401503,"AUD":1.875762,"BGN":2.305962,"BTC":0.024693,"JOD":0.945022,"GBP":1,"ETH":0.00032,"EUR":1.180457,"LTC":0.013347,"NZD":1.958503}}'
  recorded_at: Sun, 28 Nov 2021 10:02:48 GMT
[...]
